*,
*::after,
*::before{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

@media (max-width: 600px) {
  body{
    background-color: lightcoral;
  }
}

body{
  font-family: 'Festive', cursive;
  background-color: lawngreen;
    
}



@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');